
* {
	font-family: 'Source Sans Pro', sans-serif;
}

.light-grey {
	color: #747704;
}

.even-lighter-grey {
	color: #bcbbbb;
}

.thin-heading {
	font-weight: 200;
}

.spacing-top-10px {
	margin-top: 10px;
}
.hr-thicker {
	border-top: 2px solid #eeeeee;
}

h5 {
	margin-top: -10px;
}

.spacing-above-h2 {
	margin-top: 5px;
}
